<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
      <h2>SW Status</h2>
  <form  action="" method="post" role="form">
   {{ form.csrf }}
  <table width="500" cellpadding="5" cellspacing="0" border="1">
   <tr>
    <td width="200">Redis DataStorage</td>
    <td width="100"><img src=static\{{ RedisState }}.png /></td>
    <td width="200">{{ RedisState }}</td>
   </tr>
   <tr>
    <td width="200">NavigationProcessor</td>
    <td width="100"><img src=static\{{ NavigatorState }}.png /></td>
    <td width="200">{{ NavigatorState }}</td>
   </tr>
   <tr>
    <td width="200">ServoProcessor</td>
    <td width="100"><img src=static\{{ ServoState }}.png /></td>
    <td width="200">{{ ServoState }}</td>
   </tr>
   <tr>
    <td width="200">CamProcessor</td>
    <td width="100"><img src=static\{{ CamState }}.png /></td>
    <td width="200">{{ CamState }}</td>
   </tr>
   <tr>
   </tr>
   <tr>
    <td width="200">Select Color</td>
    <td width="100">
	 <label class="switch">
         {% if SelectedColor == 'BLUE' %}
         <input type="checkbox" name=active_color checked="" id="myCheck" onclick="myFunction()">
         {% else %}
         <input type="checkbox" name=active_color id="myCheck" onclick="myFunction()">
         {% endif %}
         <div class="slider round"></div>
<!--         {{ form.active_color }} -->
         </form>
      </label>
    </td>
    <td width="200"><p id="showColor">{{ SelectedColor }}</p> </td>
   </tr>
   <tr>
    <td width="200"></td>
    <td width="100"><input class="buttonSend" type="submit" value="START" name="START"></td>
    <td width="200"></td>
   </tr>
  </table>
{% endblock %}
